! ##############################################################################
! ##############################################################################
! ### ####### ##################################################################
! #### ##### ###################################################################
! ##### ### ####################################################################
! ###### # #####################################################################
! ####### ###### #  ####   ####    ###   ### ### ## #  ####   ####   ####   ####
! ###### # #####  ## ## ### ## ###### ### ## ### ##  ## ## ### ## ### ## #######
! ##### ### #### ######    ####   ### ### ## ### ## ###### ######    ####   ####
! #### ##### ### ###### ########## ## ### ## ### ## ###### ### ## ########## ###
! ### ####### ## #######   ####   ####   ####   ### #######   ####   ####   ####
! ##############################################################################
! #                                                                            #
! ##############################################################################
XTerm*bellIsUrgent: true
XTerm*locale: true
XTerm*metaSendsEscape: true
XTerm*backarrowKey: false
XTerm.ttyModes: erase ^?
XTerm*translations: #override \n\
    Ctrl <Key>M: maximize() \n\
    Ctrl <Key>R: restore()
Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
XTerm*saveLines: 4096
XTerm*renderFont: true
XTerm*faceSize: 12
XTerm.vt100.faceName: Anonymice Nerd Font Mono:antialias=false

